.priority-baloon {
    height: 30px;
    padding-top: 30px;
}

.priority-select {
    display: inline-block;
    margin-left: 5px;
}

div.priority-select a {
    margin: 0 5px;
    text-decoration: underline;
}

div.priority-select a:hover {
    text-decoration: underline;
}

.priority-sort {
    position: absolute;
    right:5px;
    top: -10px;
    z-index: 999;
}

.priority-sort input {
    margin: 5px;
}
