.priority-baloon {
    height: 30px;
    padding-top: 30px;
}

section.todos {
    position: relative;
}

.priority-select {
    display: inline-block;
    margin-left: 5px;
}

div.priority-select a {
    margin: 0 5px;
    text-decoration: underline;
}

div.priority-select a:hover {
    text-decoration: underline;
}

.priority-sort {
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 999;
}

.priority-sorted {
    margin-top: 30px;
}

.priority-sorted input[name=todo_complete] {
    display: none;
}

.priority-sort input {
    margin: 5px;
}

.priority-separator {
    line-height: 3em;
}

.new-todolist-disabled {
    background: #ccc;
}
